.resume-section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url('https://adukar.com/images/photo/kak-professionalno-sostavit-rezyume-3.jpg');
}
.resume-section h1 {
    font-size: 50px;
    color: #292929;
}
.resume-section-2 {
    height: 300px;
}
.resume-section-2 h1 {
    color: #313131;
        font-weight: 600;
}
.resume-section-2 h2 {
    color: #313131;
        font-weight: 600;
        font-size: 26.5px;
        margin-left: 50px;
        width: 60%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.resume-section-h1 {
    display: flex;
        justify-content: center;
}
.resume-section-2 button {
    height: 50px;
    width: 100px;
    background-color: #5798ff;
    border: 1px solid #5798ff;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    margin-left: 50px;
    cursor: pointer;
    margin-top: 50px;
}


