.organization-section1 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://infullbroker.ru/upload/c051358e-f1fe-4d4e-b569-f78f076edde1.webp');
}
.organization-section1 h1 {
    font-size: 45px;
}

.organization-section2 {
    
}
.organization-section-h1 h1 {
    color: #313131;
    font-weight: 600;
}
.organization-section-h1 {
    display: flex;
    justify-content: center;
}
.organization-section2 h2 {

    color: #313131;
    font-weight: 600;
    font-size: 22px;
    margin-left: 50px;
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.organization-section2 button {
    height: 50px;
    width: 100px;
    background-color: #5798ff;
    border: 1px solid #5798ff;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    margin-left: 50px;
    cursor: pointer;
  }