.footer {
    background-color: #001f3f; /* Цвет фона */
    padding: 40px 20px;
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 29px;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-list li {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 22px;
    color: #ffffff;
    /* margin: 10px 0; */

    margin-left: -50px;
    padding-top: 50px;
  }
  
  .icona {
    margin-right: 20px;
    padding-left: 150px;
    font-size: 20px;
    color: #fffdfd;

  }
  .footer a {
    text-decoration: none;
    color: #fff;
  }
  .footer a:hover {
    text-decoration: underline #22bf76;
  }


.logo-insta, .logo-whatsapp, .logo-telegram {
    font-size: 40px;
    margin-right: 50px;

}
.logo-facebook {
    margin-left: 700px;
    font-size: 38px;
    margin-right: 50px;
}
.logo-insta:hover, .logo-facebook:hover, .logo-whatsapp:hover, .logo-telegram:hover {
    transform: scale(1.1); 
    color: #22bf76;
  }
  .poloska {
    height: 0.5px;
    width: 103%;
    margin-left: -20px;
    background-color: #fff;
    margin-top: 40px;
  }
  .name-2025 {
    color: #fff;
    display: flex;
    justify-content: start;
    font-size: 20px;
    padding-top: 20px;
  }
  .link-pixart {
    display: flex;
    justify-content: end;
    font-size: 20px;
    margin-top: -45px;
  }
  .link-pixart:hover {
    color: #22bf76;

  }